h1{
    background-color: crimson;
    height: 100px;
}

p{
    background-color: orange;
}

span{
    background-color: cadetblue;
    display: inline-block;
}

.span2{
    background-color: cornflowerblue;
}

a{
    display: inline-block;
    background-color: darkolivegreen;
    height: 200px;
    width: 400px;
}