.container{
    height: 500px;
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
}

.item1{
    width: 150px;
    word-wrap: break-word;
    height: 150px;
    background-color: coral;
    border: 2px solid black;
}

.item2{
    width: 150px;
    height: 150px;
    background-color: crimson;
    border: 2px solid black;
}

.item3{
    width: 150px;
    height: 150px;
    background-color: darkgoldenrod;
    border: 2px solid black;
}